<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Workshop CSS - Faculdade 7 de Setembro</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
  <link rel="stylesheet" href="button.css">
</head>
<body>
  <main id="container">
    <section class="example">
      <div>
        <button class="button button-primary">Button Primary</button>
        <button class="button button-md button-primary button-rounded">Button Rounded</button>
        <button class="button button-lg button-primary button-grow">Button Grow</button>
      </div>
      <div>
        <button class="button button-secondary">Button Secondary</button>
        <button class="button button-md button-secondary button-rounded">Button Rounded</button>
        <button class="button button-lg button-secondary button-grow">Button Grow</button>
      </div>
      <div>
        <label for="dropdown-menu-1" class="button button-md button-primary button-rounded dropdown-button down">
          Dropdown Down
          <span class="arrow"></span>
          <input type="checkbox" id="dropdown-menu-1" class="dropdown-input" hidden />
          <nav class="dropdown-nav">
            <ul class="dropdown-list">
              <li class="dropdown-item"><a href="#">Link 1</a></li>
              <li class="dropdown-item"><a href="#">Link 2</a></li>
              <li class="dropdown-item"><a href="#">Link 3</a></li>
              <li class="dropdown-item"><a href="#">Link 4</a></li>
            </ul>
          </nav>
        </label>
        <label for="dropdown-menu-2" class="button button-md button-secondary button-rounded dropdown-button right">
          Dropdown Right
          <span class="arrow"></span>
          <input type="checkbox" id="dropdown-menu-2" class="dropdown-input" hidden />
          <nav class="dropdown-nav">
            <ul class="dropdown-list">
              <li class="dropdown-item"><a href="#">Link 1</a></li>
              <li class="dropdown-item"><a href="#">Link 2</a></li>
              <li class="dropdown-item"><a href="#">Link 3</a></li>
              <li class="dropdown-item"><a href="#">Link 4</a></li>
            </ul>
          </nav>
        </label>
      </div>
    </section>
  </main>
</body>
</html>
