<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Workshop CSS - Faculdade 7 de Setembro</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
  <link rel="stylesheet" href="button.css">
</head>
<body>
  <main id="container">
    <section class="example">
      <div>
        <button class="button button-primary">Button Primary</button>
        <button class="button button-md button-primary button-rounded">Button Rounded</button>
        <button class="button button-lg button-primary button-grow">Button Grow</button>
      </div>
      <div>
        <button class="button button-secondary">Button Secondary</button>
        <button class="button button-md button-secondary button-rounded">Button Rounded</button>
        <button class="button button-lg button-secondary button-grow">Button Grow</button>
      </div>
    </section>
  </main>
</body>
</html>
