<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Workshop CSS - Faculdade 7 de Setembro</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
  <link rel="stylesheet" href="tooltip.css">
</head>
<body>
  <main id="container">
    <section class="example">
      <div>
        <div class="sponsor" data-tooltip="up">
          <img src="img/1.jpg" width="200" height="200" alt="" class="img-circle" />
          <div class="tooltip">
            <h2 class="tooltip-title title-primary">O futuro chegou!</h2>
            <div class="tooltip-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="sponsor" data-tooltip="right">
          <img src="img/2.jpg" width="200" height="200" alt="" class="img-circle" />
          <div class="tooltip">
            <h2 class="tooltip-title title-secondary">O futuro chegou!</h2>
            <div class="tooltip-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="sponsor" data-tooltip="down">
          <img src="img/3.jpg" width="200" height="200" alt="" class="img-circle" />
          <div class="tooltip">
            <h2 class="tooltip-title">O futuro chegou!</h2>
            <div class="tooltip-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
               incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
               exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
    </section>
  </main>
</body>
</html>
